<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <connectionStrings>
        <add name="Dbconnection" connectionString="Data Source=BDC4-D-4697N62;Initial Catalog=Automation;Integrated Security=True" providerName="System.Data.SqlClient" />

     
    </connectionStrings>
<appSettings>
      <add key="ChammatePath" value="M:\Backup\ChemmateTest"/>
  <add key="CPWPath" value="M:\Backup\CPW"/>
     <add key="FILEPATH" value="F:\BP_Automation\log.txt"/>
  </appSettings>
 
</configuration>